<div class="greeter-wrapper">
  <div class="wrapper">

    <h2 class="greeter-heading">Hello!</h2>
    <h3 class="greeter-heading">My name is Dénes and I write about books.</h3>

    <p class="greeter-p">
      If, for some inexplicable reason, you still have questions about what this blog is then let me recommend the aptly and very creatively titled <a href="{{ 'intro' | relative_url }}">What is this?</a> introduction post.
      Otherwise, feel free to scroll down for my latest content.
    </p>

  </div>
</div>